<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Quaternion" android:hasCode="true">
        <meta-data android:name="SDL_MAIN_SHARED_LIBRARY" android:value="Quaternion" />
        <activity android:name="org.libsdl.app.SDLActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
